
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Karma</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link rel="stylesheet" href="{% static "foundation-icons/foundation-icons.css" %}" />
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Open+Sans" rel="stylesheet">
   <style>
   .size-30 { font-size: 30px; }
   .size-15 { font-size: 15px; }
   </style>
   
   {% block topscript %}
    {% endblock %}
  </head>
  <body ng-app="healthkarmaApp">
    <section class="top-menu">
      <div class="row">
        <div class="medium-4 columns"><a href="/"><img src="{% static "img/healthkarmalogo.png" %}" /></a></div>
        <div class="medium-2 columns"></div>
        
        <div class="medium-6 h-menu columns"><ul class="menu-links">
          <!-- <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li> -->
          {% if request.user.is_authenticated %}
          <li ><a href="/customer/dashboard/">Hey {{request.user.first_name}},</a></li>
          <li class="signup-button"><a href="/customer/logout/">Logout</a></li>
          <li><a href="/checkout/"><i class="fi-shopping-cart size-30"></i> <span class="alert badge size-15">0</span></a></li>
          {% else %}
          <li class="button"><a href="/customer/login/">Login</a></li>
          <li class="button"><a href="/customer/signup/">Register</a></li>
          {% endif %}
          
          
        </ul>
        </div>
      </div>
    </section>


    <div ng-controller="productSearchCntrl">

    
    {% block content %}

     

     {% endblock %}



    <div class="reveal" id="LoginModel" data-reveal>
      

  <form ng-submit="loginUser()" ng-controller="loginCntrl">

    <div class="callout alert"  ng-show="loginAlert1 == 1">
        <p>Wrong Username or Password</p>
      </div>

      
    <div class="row column log-in-form">

        <h4 class="text-center">Log in with you email account</h4>
        <label>Email
          <input type="email" placeholder="somebody@example.com" name="username" ng-model="usernameM" />
        </label>
        <label>Password
          <input type="password" name="password" placeholder="Password" ng-model="passwordM" />
        </label>
        <input id="show-password" type="checkbox"><label for="stay-signed">Stay signed in</label>
        <p><button type="submit" class="button expanded">Log In</button></p>
        <p class="text-center"><a href="#">Forgot your password?</a></p>   
    </div>
  </form>
</div>


   </div>


    <footer>
      <div class="row">
        <div class="medium-4 columns ft-kh-abt">
          <img src="{% static "img/healthkarmalogo.png" %}"></img>
          <h4>About KarmaHealth</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


        </div>

        <div class="medium-2 columns ft-links">
          <h6>Pages</h6>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Workshop</a></li>
            <li><a href="#">Quiz</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="medium-3 columns ft-links">
          <h6>Links</h6>
          <ul>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Control</a></li>
            <li><a href="#">Desclainmeter</a></li>
            <li><a href="#">Sitelink</a></li>
          </ul>
        </div>



        <div class="medium-3 columns ft-links">
          <h6>Social</h6>
          <ul>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Control</a></li>
            <li><a href="#">Desclainmeter</a></li>
            <li><a href="#">Sitelink</a></li>
          </ul>
        </div>





      </div>
    </footer>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/angular.app.js" %}"></script>
    <script>
$(document).ready(function(){

  // Hide div 2  and div 3 by default
  $('#div_2').hide();
  $('#div_3').hide();

  $('#link_2').click(function(){ 
      $('#div_1').hide();
      $('#div_3').hide();
      $('#div_2').show();


      $('#link_2').addClass('li-active');
      $('#link_1').removeClass('li-active');
      $('#link_3').removeClass('li-active');

  });
  $('#link_3').click(function(){ 
      $('#div_1').hide();
      $('#div_2').hide();
      $('#div_3').show();
       $('#link_3').addClass('li-active');
      $('#link_1').removeClass('li-active');
      $('#link_2').removeClass('li-active');
  });
  
  $('#link_1').click(function(){ 
      $('#div_2').hide();
      $('#div_3').hide();
      $('#div_1').show();

       $('#link_1').addClass('li-active');
      $('#link_2').removeClass('li-active');
      $('#link_3').removeClass('li-active');
  }); 
});
</script>
    {% block bottomscript %}
    {% endblock %}

  </body>
</html>