{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}

<section class="hp-content-section checkout-page-1">

  <div class="row margin-top-4 margin-bottom-4">
    <h3 class="medium-8 medium-offset-2 ">Billing Address</h3>

    <div class="medium-8 medium-offset-2">
      <div class="checkout-card">

        <div class="row">
          <div class="medium-8 columns">

            <form method="POST" action="/add/address/" data-abide novalidate>
              {% csrf_token %}
               <div data-abide-error class="alert callout" style="display: none;">
                  <p><i class="fi-alert"></i> There are some errors in your form.</p>
               </div>
               <div class="row">
                <div class="small-2 columns">
                    <label>Title
                       <select name="title">
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Ms.</option>
                       </select>
                       <span class="form-error">
                          Fill the Correct box
                       </span>
                    </label>

                  </div>


                 <div class="small-6 columns">
                    <label>Full Name
                       <input type="text" name="name" value="{{request.user.username}}" required pattern="[a-zA-Z]+">
                       <span class="form-error">
                          Fill the Correct box
                       </span>
                    </label>

                  </div>

                 

               </div>

               <div class="row">

                  <div class="small-6 columns">
                    <label>Address Line 1
                         <textarea style="height: 90px;" name="line1" value="{{address.line1}}"></textarea>
                         <span class="form-error">
                            Fill the Correct box
                         </span>
                      </label>
                  </div>

                  <div class="small-6 columns">
                    <label>Address Line 2
                         <textarea style="height: 90px;" name="line2" value="{{address.line2}}"></textarea>
                         <span class="form-error">
                            Fill the Correct box
                         </span>
                      </label>
                  </div>


                
               </div>

               <div class="row">

                  
                

                  <div class="small-6 columns">
                    <label>State
                         <input type="text" name="state" value="{{address.state}}" required pattern="[a-zA-Z]+">
                         <span class="form-error">
                            Fill the Correct box
                         </span>
                      </label>
                  </div>

                  <div class="small-6 columns">
                    <label>Pincode
                         <input type="number" name="pin" value="{{address.postcode}}" required>
                         <span class="form-error">
                            Fill the Correct box
                         </span>
                      </label>
                  </div>



               </div>

               
            <button class="success button margin-top-2" type="submit">Continue to Payment</button>
            
          </form>

          </div>



        </div>


      </div>
    </div>
  </div>

  






</section>


{% endblock %}