{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns margin-top-4 margin-bottom-4">

    <form action="/customer/login/success/" method="POST" >
    	{% csrf_token %}
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with you email account</h4>
        <label>Email
          <input type="email" placeholder="somebody@example.com" name="username">
        </label>
        <label>Password
          <input type="password" name="password" placeholder="Password">
        </label>
        <input id="show-password" type="checkbox"><label for="stay-signed">Stay signed in</label>
        <p><input name="submit" type="submit" class="button expanded">Log In</p>
        <p class="text-center"><a href="#">Forgot your password?</a></p>   
      </div>
    </form>

  </div>
</div>

{% endblock %}