
{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns margin-top-4 margin-bottom-4">
An activation link has been sent to your email Id.
</div>
</div>
{% endblock %}