{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}




<section class="blog-page workshop-details padding-top-4 padding-bottom-4">

  <div class="row">


    <h3>{{singleBlog.title}}</h3>

    <ul class="row no-style-list event-details-list">
            
            <li class="columns">Author: {{singleBlog.author}}</li>
                   
    </ul>


    {% autoescape off %}
    <p>{{singleBlog.content | safe}}</p>
     {% endautoescape %}


  </div>






</section>










<section class="hp-store-container hp-content-section padding-top-4 padding-bottom-4">

  <div class="row">


    <h3>Store</h3>





    <div class="owl-carousel-6">

      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




    </div>


    <div class="gotostoreButton">
      <a href="#" class="button">Go to Store</a>
    </div>

  </div>



</section>





<div id="destroy"></div>

{% endblock %}

