{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}


<section class="medium-banner">
  <div class="banner-top-img bgimg-cover" style="background-image:url(https://images.unsplash.com/photo-1472747459646-91fd6f13995f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=41ac33b3588e90df09b0ddbf9f6308ee)">

  </div>
</section>



<section class="mid-sticky-menu" data-sticky-container>
  <div class="sticky mid-sticky-menu-wrapper" id="sticky-menu" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="about" data-btm-anchor="destroy:bottom">
    <nav class="row">
      <ul class="dropdown menu" data-dropdown-menu>
      <li class="dp-link"><a href="#first">First Arrival</a></li>
      <li class="dp-link"><a href="#second">Second Arrival</a>
        <ul class="dp-box">
          <li></li>
        </ul>  
      
      </li>
      <li class="dp-link"><a href="#third">Third Arrival</a></li>
      </ul>
    </nav>
  </div>
</section>











<section class="hp-content-section padding-top-4 padding-bottom-4">
  {% for blog in blogList %}
  <div class="row blog-block">
    <div class="medium-8 column">
      <h3>{{blog.title}}</h3>
      <small>Sept 23, 2016 | By <a href="#">{{blog.author}}</a></small>
      {% autoescape off %}
      <p class="margin-top-2">{{blog.content|safe}}</p>
      {% endautoescape %}

      <a href="/blogs/{{blog.slugfield}}" class="button">READ MORE</a>
    </div>

    <div class="medium-4 column">
      <img src="{{blog.coverimg.url}}"></img>
    </div>
  </div>
{% endfor %}

  


  
</section>










<section class="hp-store-container hp-content-section padding-top-4 padding-bottom-4">

  <div class="row">


    <h3>Store</h3>





    <div class="owl-carousel-6">

      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




    </div>


    <div class="gotostoreButton">
      <a href="#" class="button">Go to Store</a>
    </div>

  </div>



</section>





<div id="destroy"></div>
{% endblock %}




