{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}
<section class="medium-banner">
  
</section>






<section class="hp-content-section checkout-page-1">


  <div class=" row align-middle margin-top-2">
    <h3>Checkout</h3>
    <div class="medium-8 columns">
      <table> 
      <thead>
        <tr>
          
          <th width="40%">Item Detail</th>
          <th width="25%">Qty</th>
          <th width="25%">Price</th>
          <th width="10%"></th>
          <!-- <th width="">Delivery</th>
          <th width="">Sub Total</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for i in product %}
        <tr>
          
          <td><img src="{{i.image.url}}" width="75" height="62"> {{i.title}}</td>
          <td>1</td>
          <td>Rs.{{i.price}}</td>
          <td class="clickable-icon"><i ng-click="deleteContentInCart({{i.pk}})" class="fi-trash"></i></td>
          <!-- <td>+Rs. {{basket.delievery_charge}}</td>
          <td>Rs. {{sum}}</td> -->
          
        </tr>
        {% endfor %}
        </tbody>


      </table>

      <div class="row">
      <div class="medium-6 columns medium-push-4">
        <ul>
          <li class="row">
            <div class="meduim-7 columns">Sub Total</div>
            <div class="medium-5 columns">Rs. {{sum}}</div>
          </li>

          <li class="row margin-top-1">
            <div class="meduim-7 columns">Delivery Charges</div>
            <div class="medium-5 columns">Rs. {{basket.delievery_charge}}</div>
          </li>
          <hr></hr>
          <li class="row margin-top-1" style="font-weight:600">
            <div class="meduim-7 columns">Grand Total</div>
            <div class="medium-5 columns">Rs. {{total}}</div>
          </li>
        </ul>
      </div>
    </div>

    </div>

    



    <form class="column medium-4 margin-top-2">

      <div class="checkout-card">

          <p>Delivery & Payment option can be selected later.</p>

          
            <label>Coupon Code or Gift Vouchers
              <input type="text" placeholder="Coupon Code">
            </label>
          
          <a class="large expanded button" href="/delivery/">Proceed</a>
          
    </div>
  </form>



  </div>


<div class="row">
  
<p> <br>



<div class="row">

</div>


  



</section>

{% endblock %}