{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}

<section class="medium-banner">
  
</section>






<section class="hp-content-section checkout-page-1">
	<div class=" row align-middle margin-top-2">
<div class="column medium-8 margin-top-2">

      <div class="checkout-card columns">
<h1 class="margin-bottom-2">Thank You for Your Order</h1>
        <div class="row">
          
<p> Workshop has been Registered. You will recieve a mail with details. You can view your Workshop Detail on HealthKarma Dashboard.</p>

        <div class="medium-6 columns"></div>

        <div class="medium-6 columns"></div>

        <div class="medium-6 columns"></div>

        <div class="medium-6 columns"></div>


      
      
      
        <a class="large expanded button margin-top-2" href="/customer/dashboard">Dashboard</a>
        

          </div>


        </div>


        
          
          

    </div>


 
  </div>
  <div class=" row align-middle margin-top-2">
<div class="column medium-12 margin-top-2">
<div class="checkout-card">
	 <h3>Your Workshop Registered | Registration ID : {{registrationId}}</h3>
	 

</div>
<div>


<div class="row">
  
<p> <br>



<div class="row">

</div>




</section>

{% endblock %}
