{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}
{% block topscript %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}

{% block content %}













<section class="workshop-details hp-event-container padding-top-4 padding-bottom-4">

  <div class="row">

    <div class="medium-8 columns">


        <div class="card">


          <div class="row">
            <div class="small-12 columns" style="height:300px; background-image:url({{singleEvent.featureImage.url}}); background-size:cover">
             
            </div>
          </div>



          <h3 class=" margin-top-2">{{singleEvent.title}}</h3>
          <p>{{singleEvent.shortDescription}}</p>


        </div>


      <div class="row work-desp">

        <div class="card">

        <div class="medium-12 columns">

          {% autoescape off %}
          {{singleEvent.description | safe}}
          {% endautoescape %}

        </div>
    </div></div>
    </div>



    <div class="medium-4 columns">
      <div class="item event-item">
        
        <div class="item--wrapper">
          

                   <ul class="row no-style-list event-details-list">
            <li class="medium-12 columns"><i class="fi-marker"></i> {{singleEvent.location.venue}}, {{singleEvent.location.city}}</li>
            <li class="medium-12 columns"><i class="fi-clock"></i> {{singleEvent.datetime}}</li>
            <li class="medium-12 columns"><i class="fi-torso"></i> {{singleEvent.trainer}}</li>

            
          </ul>


          {% if user.is_authenticated %}
            <a href="/event/register/{{singleEvent.slug}}" class="button expanded">Pay Now</a>
          {% else %}
             <button class="button expanded" data-open="LoginModel">Log In</button>
          {% endif %}


<!--           <form action="/customer/login/success/" method="POST" >
            <input type='hidden' name='csrfmiddlewaretoken' value='Q4eoYpGzWDA3OL5GN3ZLtf6AD3wfI80j' />
            <div class="row column log-in-form">
              <h4 class="text-center">Login To Register</h4>
              <label>Email
                <input type="email" placeholder="somebody@example.com" name="username">
              </label>
              <label>Password
                <input type="password" name="password" placeholder="Password">
              </label>
              
              <p><button name="submit" type="submit" class="button expanded">Login</button></p>
              
            </div>
          </form> -->

        </div>   
      </div>
    </div>  

  </div>



</section>










<section class="hp-store-container hp-content-section padding-top-4 padding-bottom-4">

  <div class="row">


    <h3>Store</h3>





    <div class="owl-carousel-6">

      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




    </div>


    <div class="gotostoreButton">
      <a href="#" class="button">Go to Store</a>
    </div>

  </div>



</section>





<div id="destroy"></div>
{% endblock %}



