{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}
<section class="medium-banner">
  
</section>






<section class="hp-content-section checkout-page-1">


  <div class=" row align-middle margin-top-2">
    <h3>Payment Process</h3>
    <table class="medium-8 columns">
      <thead>
        <tr>
          <th >Workshop</th>
          <th width="">Venue</th>
          <th width="">Date</th>
         
          <th width="">Price</th>
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td>{{event.title}}</td>
          <td>{{event.location.venue}},{{event.location.city}}</td>
          <td>{{event.datetime}}</td>
         
          <td>Rs.{{event.price}}</td>
        </tr>
        
        </tbody>
    </table>



    <form action="/event/success/{{event.slug}}/" method="POST" class="column medium-4 margin-top-2">
      {% csrf_token %}
      <div class="checkout-card">
<h6 class="margin-bottom-2">Select Payment Method</h6>
        <div class="row">
          


        <div class="medium-6 columns">
          <input type="radio" name="Paytm" id="cod">
        <label for="Paytm">Paytm</label>




      
        </div>

        <div class="medium-6 columns">
          <input type="radio" name="Debit" value="Debit Card" id="dc">
        <label for="dc">Debit Card</label>
                </div>

        <div class="medium-6 columns">
          <input type="radio" name="Credit" value="Credit Card" id="cd">
        <label for="cd">Credit Card</label>
        </div>

        <div class="medium-6 columns">
          <input type="radio" name="Net" value="Blue" id="nb">
        <label for="nb">Net Banking</label>
        </div>


      
      
      
        <button class="large expanded button margin-top-2" type="submit">Pay Now</button>

          </div>
        </div>

        
          
          

    </div>
  </form>



  </div>


<div class="row">
  
<p> <br>



<div class="row">

</div>


  



</section>

{% endblock %}