{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}



<!-- <section class="medium-banner">
  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

      <li class="is-active orbit-slide">
        <img class="orbit-image" src="{% static "img/slide1.jpg" %}" alt="Space">
        <!--<figcaption class="orbit-caption">Space, the final frontier.</figcaption>-->
      <!-- </li>

      <li class="orbit-slide">
        <img class="orbit-image" src="{% static "img/slide2.jpg" %}" alt="Space">
        <!--<figcaption class="orbit-caption">Lets Rocket!</figcaption>-->
     <!--  </li>


    </ul>
  </div>
</section>-->
<section class="medium-banner">
  <div class="banner-top-img bgimg-cover" style="background-image:url({% static "img/slide1.jpg" %})">

  </div>
</section>



<section class="mid-sticky-menu" data-sticky-container>
  <div class="sticky mid-sticky-menu-wrapper" id="sticky-menu" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="about" data-btm-anchor="destroy:bottom">
    <nav class="row">
      <ul class="menu dropdown">

      <li class="mega-menu"><a data-toggle="institucional">

      <span class="txt-white">Ayurved Lifestyle<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="institucional" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>Ayurved Living</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Ayurveda Intro</a></li>
                    <li><a href="/origen.htm">Understanding the Origin</a></li>
                  <li><a href="/auto.htm">Diving into our physiology</a></li>
                  <li><a href="/convenios.htm">Food is Fundamental!</a></li>
                   


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Start connecting with myself</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Doshas</a></li>
                    <li><a href="/contrataciones/">Body Types</a></li>
                    
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4></h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm"></a></li>
                  <li><a href="/centros.htm"></a></li>
                  <li><a href="/unidades_extension.htm"></a></li>
                  <li><a href="/oficinas_tecnicas.htm"></a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>



    <li class="mega-menu"><a data-toggle="mmmenu2">

      <span class="txt-white">Microbiotics Nutrtion<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="mmmenu2" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>Hellllooooooo</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Misión, visión y valores</a></li>
                    <li><a href="/origen.htm">Origen y proyección del INTI</a></li>
                  <li><a href="/auto.htm">Autoridades</a></li>
                  <li><a href="/convenios.htm">Convenios firmados con otras instituciones</a></li>
                   <li><a href="/contrataciones/">Contrataciones</a></li>


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Oferta de servicios</a></li>
                    <li><a href="/contrataciones/">Guía de trámites</a></li>
                    <li><a href="http://www-biblio.inti.gov.ar/">Biblioteca</a></li>
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4>Donde estamos</h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm">INTI en el país</a></li>
                  <li><a href="/centros.htm">Centros</a></li>
                  <li><a href="/unidades_extension.htm">Unidades de Extensión</a></li>
                  <li><a href="/oficinas_tecnicas.htm">Oficinas de información</a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>


    <li class="mega-menu"><a data-toggle="mmmenu3">

      <span class="txt-white">Naturopthy Way<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="mmmenu3" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>dfsdfsdfsd fsdf sdf f</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Misión, visión y valores</a></li>
                    <li><a href="/origen.htm">Origen y proyección del INTI</a></li>
                  <li><a href="/auto.htm">Autoridades</a></li>
                  <li><a href="/convenios.htm">Convenios firmados con otras instituciones</a></li>
                   <li><a href="/contrataciones/">Contrataciones</a></li>


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Oferta de servicios</a></li>
                    <li><a href="/contrataciones/">Guía de trámites</a></li>
                    <li><a href="http://www-biblio.inti.gov.ar/">Biblioteca</a></li>
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4>Donde estamos</h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm">INTI en el país</a></li>
                  <li><a href="/centros.htm">Centros</a></li>
                  <li><a href="/unidades_extension.htm">Unidades de Extensión</a></li>
                  <li><a href="/oficinas_tecnicas.htm">Oficinas de información</a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>

     <li class="mega-menu"><a data-toggle="mmmenu3">

      <span class="txt-white">Store<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="mmmenu3" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>dfsdfsdfsd fsdf sdf f</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Misión, visión y valores</a></li>
                    <li><a href="/origen.htm">Origen y proyección del INTI</a></li>
                  <li><a href="/auto.htm">Autoridades</a></li>
                  <li><a href="/convenios.htm">Convenios firmados con otras instituciones</a></li>
                   <li><a href="/contrataciones/">Contrataciones</a></li>


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Oferta de servicios</a></li>
                    <li><a href="/contrataciones/">Guía de trámites</a></li>
                    <li><a href="http://www-biblio.inti.gov.ar/">Biblioteca</a></li>
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4>Donde estamos</h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm">INTI en el país</a></li>
                  <li><a href="/centros.htm">Centros</a></li>
                  <li><a href="/unidades_extension.htm">Unidades de Extensión</a></li>
                  <li><a href="/oficinas_tecnicas.htm">Oficinas de información</a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>

 <li class="mega-menu"><a data-toggle="mmmenu3">

      <span class="txt-white">Karma Cafe<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="mmmenu3" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>dfsdfsdfsd fsdf sdf f</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Misión, visión y valores</a></li>
                    <li><a href="/origen.htm">Origen y proyección del INTI</a></li>
                  <li><a href="/auto.htm">Autoridades</a></li>
                  <li><a href="/convenios.htm">Convenios firmados con otras instituciones</a></li>
                   <li><a href="/contrataciones/">Contrataciones</a></li>


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Oferta de servicios</a></li>
                    <li><a href="/contrataciones/">Guía de trámites</a></li>
                    <li><a href="http://www-biblio.inti.gov.ar/">Biblioteca</a></li>
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4>Donde estamos</h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm">INTI en el país</a></li>
                  <li><a href="/centros.htm">Centros</a></li>
                  <li><a href="/unidades_extension.htm">Unidades de Extensión</a></li>
                  <li><a href="/oficinas_tecnicas.htm">Oficinas de información</a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>

    <li class="mega-menu"><a data-toggle="mmmenu3">

      <span class="txt-white">Be Connected<br></span></a></li>



</ul>





    </nav>
  </div>
</section>





<section id="about" class="hp-about-section hp-content-section">
  <div class="expanded row align-middle">
    <div class="medium-6 small-12 columns about-text">
      <h3>About HealthKarma</h3>
      <p class="padding-right-8">Imagine the Goddess Hygeia, the greek goddess of health, standing in a white flowing robe, with a halo around her crown, telling you all, "Please take a seat...you will be served what you deserve!" Do good Karma (Health)...Because if you love your body, it will love you back. My deepest passion is to help you know thyself, connect with thyself, love thyself and FINALLY own thyself, so that you are the best you can be. Surely when we're talking about health, beauty is not far behind.</p>

       <a data-open="aboutmodel">Explore more</a>
    </div>
    <div class="medium-6 small-12 columns about-video bgimg-cover" style="background-image:url('{% static "img/about1.jpg" %}">
    </div>

  </div>

  <div class="reveal" id="aboutmodel" data-reveal>
  <h3>About Healthkarma</h3>
  <p class="lead"><br></p>
  <p>Imagine the Goddess Hygeia, the greek goddess of health, standing in a white flowing robe, with a halo around her crown, telling you all, "Please take a seat...you will be served what you deserve!" Do good Karma (Health)...Because if you love your body, it will love you back. My deepest passion is to help you know thyself, connect with thyself, love thyself and FINALLY own thyself, so that you are the best you can be. Surely when we're talking about health, beauty is not far behind. I believe, Inner fragrance will lead to outer beauty! But How...? We all want luminous blemish free skin, svelte figures and enough stamina to run a marathon. Who doesn't want it all? For me, my health journey started in my kitchen, 25 years ago, and like anyone I went through various trials and numerous failed experiments before I reached where I am now. I want to help you understand why your body is the way it is, and through a combination of Ayurveda, Naturopathy, Macrobiotics, I will do just that. if you have dry skin, can't ever sit still and a short attention span and a huge desire to execute those million ideas in your head, you are a "Vata" type! and you need a diet and lifestyle to suit it, instead of taxing or challenging it which leads to bad skin, irregular bowels, constipation and unsettling dreams...<br><br>

So allow me to help you take the first step in understanding yourself. Follow me on this adventure of self discovery and we shall figure out all the interesting things that are happening inside your body, under your skin and each and every cell , including your worst enemy - your mind and your heart (why it wants what it wants!) <br>
If you want to start this journey, take the “<a hrfe="/quiz">Know Thyself</a>” Quiz and tell me if you don’t have that “aha “ moment!
</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

</section>



<section class="hp-quiz hp-content-section hp-section-bg-gray margin-bottom-4">
  <div class="expanded row align-middle">
    <div class="medium-6 small-12 columns hp-quiz-photo bgimg-cover" style="background-image:url('{% static "img/quiz.jpg" %}')">
          
    </div>
    <div class="medium-6 small-12 columns padding-left-4">

      <h3>Know Yourself</h3>
      <p class="padding-right-4">Inner Beauty will lead to outer fragrance and that is why we need to look inward and examine our endless mental processes, reactions and preferences due to which our lifestyle today has lost its balance and purpose. A very simple approach to health and lifestyle is essential to bring it in alignment with nature in order that one may strengthen their concentration on life purpose.  This is employed by the most ancient and intuitive of the Eastern healing arts called Ayurveda which is the science of perfecting the soul's vehicle by alleviating bodily suffering. The all-important ability to find peace within ourselves brings clarity and a sense of purpose to life, and invests all our relationships with a new positivity.</p>


      <a href="#" class="button">Start Quiz</a>
    </div>

  </div>  

</section>


<section class="hp-blog-container row hp-content-section margin-top-4 padding-bottom-4">


  <h3><font color="#55cbd2">Blogs and News</font></h3>

  <div class="owl-carousel-3">
    {% for blog in blogList %}
    <a href="/blogs/{{blog.slugfield}}">
    <div class="item blog-item" style="background-image:url('{{blog.coverimg.url}}')">
      <div class="item--wrapper">
        <span class="blog-details">
          <span class="blog-title">{{blog.title}}</span>
        </span>
      </div>   
    </div>
  </a>

{% endfor %}




  </div>

  <div class="gotostoreButton">
    <a href="/blogs/" class="button">READ MORE</a>
  </div>

</section>







<section class="hp-event-container hp-content-section hp-section-bg-gray padding-top-4 padding-bottom-4">

  <div class="row">


    <h3><font color="#55cbd2">Events and Workshop</font></h3>


    <ul class="tags">
      <li class="active" id="link_1">ALL</li>
      <li id="link_2">UPCOMING </li>
      <li id="link_3">PAST</li>

    </ul>

    
    <div class="owl-carousel-5 " id="div_1">
      {% for event in eventsList %}
      <div class="item event-item" >
        <div class="event-image" style="background-image:url('{{event.featureImage.url}}');height:170px; background-size:cover ">
          
        </div>
        <div class="item--wrapper">
          <span class="event-details">
            <span class="event-title">{{event.title}}</span>
            <span class="event-description">{{event.shortDescription}}</span>
            <div class="event-datetime row">
              <div class="column">{{event.datetime}}</div>
              
            </div>
            <a href="/events/{{event.slug}}/" class="button card-register-button">Register</a>
         
        </div>   
      </div>
      {% endfor %}

      


    </div>

<div class="owl-carousel-5 " id="div_2">
      {% for event in upcomingEventsList %}
      <div class="item event-item" >
        <div class="event-image" style="background-image:url('{{event.featureImage.url}}'); height:170px; background-size:cover">
          
        </div>
        <div class="item--wrapper">
          <span class="event-details">
            <span class="event-title">{{event.title}}</span>
            <span class="event-description">{{event.shortDescription}}</span>
            <div class="event-datetime row">
              <div class="column">{{event.datetime}}</div>
              
            </div>
            <a href="/events/{{event.slug}}/" class="button card-register-button">Register</a>
         
        </div>   
      </div>
      {% endfor %}

      


    </div>

<div class="owl-carousel-5 " id="div_3">
      {% for event in pastEventsList %}
      <div class="item event-item" >
        <div class="event-image" style="background-image:url('{{event.featureImage.url}}'); height:170px; background-size:cover">
          
        </div>
        <div class="item--wrapper">
          <span class="event-details">
            <span class="event-title">{{event.title}}</span>
            <span class="event-description">{{event.shortDescription}}</span>
            <div class="event-datetime row">
              <div class="column">{{event.datetime}}</div>
              
            </div>
            <a href="/events/{{event.slug}}/" class="button card-register-button">Register</a>
         
        </div>   
      </div>
      {% endfor %}

      


    </div>


<div class="gotostoreButton">
    <a href="/events/" class="button">Explore More</a>
  </div>
  </div>


</section>
















<section class="hp-store-container hp-content-section padding-top-4 padding-bottom-4">

  <div class="row">


    <h3>Store</h3>





    <div class="owl-carousel-6">

{% for category in productCategories %}
      <div class="item store-item">
        <div class="store-image">
          <img src="{{category.image.url}}" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">{{category.name}}</span>
            <span class="store-description">{{category.description}}</span>
            <span class="gotostoreButton">
           <a href="/product/categories/{{category.slug}}" class="button">Explore</a>
            </span>
            
          </span>
        </div>   
      </div>

{% endfor %}

      



      


      


      




      



      


      



      



    </div>


    <div class="gotostoreButton">
      <a href="/store/" class="button">Go to Store</a>
    </div>

  </div>



</section>



<div id="destroy"></div>
{% endblock %}



