{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="small-6 columns">
<form action="/customer/login/success/" method="POST" >
    	{% csrf_token %}
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with you email account</h4>
        <label>Email
          <input type="email" placeholder="somebody@example.com" name="username">
        </label>
        <label>Password
          <input type="password" name="password" placeholder="Password">
        </label>
        <input id="show-password" type="checkbox"><label for="stay-signed">Stay signed in</label>
        <p><input name="submit" type="submit" class="button expanded">Log In</p>
        <p class="text-center"><a href="#">Forgot your password?</a></p>   
      </div>
    </form>


	</div>
  <div class="small-6 columns">

<form action="/customer/registration/" method="POST" >
    	{% csrf_token %}
      <div class="row column log-in-form">
        <h4 class="text-center">Sign Up with you email account</h4>
        <label>First Name
          <input type="text" placeholder="First Name" name="fname">
        </label><span class="has-error">{{ form.fname.errors }}</span>

        <label>Last Name
          <input type="text" placeholder="Last Name" name="lname">
        </label><span class="has-error">{{ form.lname.errors }}</span>

        <label>Email
          <input type="email" placeholder="somebody@example.com" name="email">
        </label>
        <span class="has-error">{{ form.email.errors }}</span>

        <label>Password
          <input type="password" name="password" placeholder="Password">
        </label>


        
        <p><input name="submit" type="submit" class="button expanded"></p>
          
      </div>
    </form>



  </div>



{% endblock %}