{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}
<section class="medium-banner">
  
</section>






<section class="hp-content-section checkout-page-1">


  <div class=" row align-middle margin-top-2">
    <h3>Payment Process</h3>
    <div class="medium-8 columns">
      <table>

      <thead>
        <tr>
          <th width="50%">Item Detail</th>
          <th width="20%">Qty</th>
          <th width="25%">Price</th>
          
        </tr>
      </thead>
      <tbody>
        {% for i in product %}
        <tr>
          <td><img src="{{i.image.url}}" width="75" height="62"> {{i.title}}</td>
          
          <td>1</td>
          <td>Rs.{{i.price}}</td>
          
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
      <div class="medium-6 columns medium-push-5">
        <ul>
          <li class="row">
            <div class="meduim-7 columns">Sub Total</div>
            <div class="medium-5 columns">Rs. {{sum}}</div>
          </li>

          <li class="row margin-top-1">
            <div class="meduim-7 columns">Delivery Charges</div>
            <div class="medium-5 columns">Rs. {{basket.delievery_charge}}</div>
          </li>
          <hr></hr>
          <li class="row margin-top-1" style="font-weight:600">
            <div class="meduim-7 columns">Grand Total</div>
            <div class="medium-5 columns">Rs. {{total}}</div>
          </li>
        </ul>
      </div>
    </div>



  </div>





    <form action="/success/{{basket.pk}}/" method="POST" class="column medium-4 margin-top-2">
      {% csrf_token %}
      <div class="checkout-card">
<h6 class="margin-bottom-2">Select Payment Method</h6>
        <div class="row">
          


        <div class="medium-6 columns">
          <input type="radio" name="COD" value="Cash On Delivery" id="cod">
        <label for="cod">COD</label>




      
        </div>

        <div class="medium-6 columns">
          <input type="radio" name="Debit" value="Debit Card" id="dc">
        <label for="dc">Debit Card</label>
                </div>

        <div class="medium-6 columns">
          <input type="radio" name="Credit" value="Credit Card" id="cd">
        <label for="cd">Credit Card</label>
        </div>

        <div class="medium-6 columns">
          <input type="radio" name="Net" value="Blue" id="nb">
        <label for="nb">Net Banking</label>
        </div>


      
      
      
        <button class="large expanded button margin-top-2" type="submit">Pay Now</button>

          </div>
        </div>

        
          
          

    </div>
  </form>



  </div>


<div class="row">
  
<p> <br>



<div class="row">

</div>


  



</section>

{% endblock %}