
{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}

<section class="medium-banner">
  <div class="banner-top-img bgimg-cover" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=550&h=250)">

  </div>
</section>



<section class="mid-sticky-menu" data-sticky-container>
  <div class="sticky mid-sticky-menu-wrapper" id="sticky-menu" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="about" data-btm-anchor="destroy:bottom">
    <nav class="row">
      <ul class="dropdown menu" data-dropdown-menu>
      <li class="dp-link"><a href="#first">First Arrival</a></li>
      <li class="dp-link"><a href="#second">Second Arrival</a>
        <ul class="dp-box">
          <li></li>
        </ul>  
      
      </li>
      <li class="dp-link"><a href="#third">Third Arrival</a></li>
      </ul>
    </nav>
  </div>
</section>












<section class="hp-content-section hp-event-container event-list-page padding-top-4 padding-bottom-4">

  <div class="row">

    <div class="medium-3 columns filter-sec">
      <div class=""></div>

      <div class="filter-wrapper filter-container">
        <div class="fitler-row">
          <div class="filterform--block">
              <h5>Category</h5>
              {% for category in categoryList %} 
              <div class="filterform--block-detail">

                

                <a href="/product/categories/{{category.slug}}" class="filterform--block-detail--cbox">
                  <input type="checkbox" class="checkbox-block"></input>
                  <span class="starRating">
                    {{category.name}}
                  </span>
                </a>
                

                
              </div>
              {% endfor %}
          </div>

        </div>
      </div>
          </div>
    


    <div class="medium-9 columns products-sec">
      <div class="row">

        
         {% for product in productList %}
        <div class="medium-4 columns">
          
          <div class="item product-item">
            <div class="product-image" style="height:200px; background-image:url({{product.image.url}}); background-size:cover">

              
            </div>
            <div class="item--wrapper">
              <span class="product-details">
                <span class="product-title">{{product.title}}</span>
                <span class="product-description">{{product.description}}</span>
                <div class="product-pricing row">
                  <div class="column net-price">Rs{{product.price}}</div>
                   {% if product.is_discountable %}
                  <div class="column"><span class=" current-offer">50% OFF</span></div>
                  {% endif %}
                </div>
                <a  href="/product/{{product.slug}}" class="button card-register-button">View</a>
                <!-- <a href="/checkout/{{product.slug}}" class="button card-register-button">Buy Now</a> -->
              </span>
            </div>   
          </div>



        </div>
        {% endfor %}


      </div>
    </div>



  </div>
</section>














<div id="destroy"></div>


{% endblock %}

