{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}



<section class="medium-banner">
  <div class="banner-top-img bgimg-cover" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=550&h=250)">

  </div>
</section>



<section class="mid-sticky-menu" data-sticky-container>
  <div class="sticky mid-sticky-menu-wrapper" id="sticky-menu" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="about" data-btm-anchor="destroy:bottom">
    <nav class="row">
      <ul class="dropdown menu" data-dropdown-menu>
      <li class="dp-link"><a href="#first">First Arrival</a></li>
      <li class="dp-link"><a href="#second">Second Arrival</a>
        <ul class="dp-box">
          <li></li>
        </ul>  
      
      </li>
      <li class="dp-link"><a href="#third">Third Arrival</a></li>
      </ul>
    </nav>
  </div>
</section>












<section class="product-page padding-top-4 padding-bottom-4">

  <div class="row">

    <div class="medium-5 columns" style="background-image:url({{product.image.url}}); background-size:cover">

    </div>


    <div class="medium-6 medium-push-1 columns product-main">
      <h5>{{product.title}}</h5>

      <div class="pro-description">
        <span class="sec-title">PRODUCT DESCRIPTION</span>
        <p>{{product.description}}</p>
      </div>



      <div class="product-pricing row">
        <div class="column medium-4 net-price">Rs. {{product.price}}</div>
        
      </div>

      


      <div class="row">
        <div class="medium-4 columns">
          <lable>Quantity
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </lable>
        </div>


        


      </div>

      {% if user.is_authenticated %}
      <button href="" class="button" ng-show="addedToCart">Added to Cart</button>
      <button class="button" ng-show="!addedToCart" ng-click="addtocard({{product.pk}})">Add to Cart{{product.pk}}</button>
      {% else %}
      <a href="#" class="button" data-open="LoginModel">Login to continue</a>
      {% endif %}

    </div>
  
  </div>


  <div class="row margin-top-4">
    <ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Product Details</a></li>
  <li class="tabs-title"><a href="#panel2">How to Apply</a></li>
</ul>





<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
  <div class="tabs-panel" id="panel2">
    <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
  </div>
</div>

  </div>
</section>



















<div id="destroy"></div>

{% endblock %}

