

{%extends "mainWebsite/layout/default.html"%}
{% load staticfiles %}

{% block content %}
<section class="medium-banner">
  <div class="banner-top-img bgimg-cover" style="background-image:url(https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=550&h=250)">

  </div>
</section>


<section class="mid-sticky-menu" data-sticky-container>
  <div class="sticky mid-sticky-menu-wrapper" id="sticky-menu" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="about" data-btm-anchor="destroy:bottom">
    <nav class="row">
      <ul class="menu dropdown">

      <li class="mega-menu"><a data-toggle="institucional">

      <span class="txt-white">Menu 1<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="institucional" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>Información institucional</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Misión, visión y valores</a></li>
                    <li><a href="/origen.htm">Origen y proyección del INTI</a></li>
                  <li><a href="/auto.htm">Autoridades</a></li>
                  <li><a href="/convenios.htm">Convenios firmados con otras instituciones</a></li>
                   <li><a href="/contrataciones/">Contrataciones</a></li>


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Oferta de servicios</a></li>
                    <li><a href="/contrataciones/">Guía de trámites</a></li>
                    <li><a href="http://www-biblio.inti.gov.ar/">Biblioteca</a></li>
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4>Donde estamos</h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm">INTI en el país</a></li>
                  <li><a href="/centros.htm">Centros</a></li>
                  <li><a href="/unidades_extension.htm">Unidades de Extensión</a></li>
                  <li><a href="/oficinas_tecnicas.htm">Oficinas de información</a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>



    <li class="mega-menu"><a data-toggle="mmmenu2">

      <span class="txt-white">Menu 2<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="mmmenu2" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>Hellllooooooo</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Misión, visión y valores</a></li>
                    <li><a href="/origen.htm">Origen y proyección del INTI</a></li>
                  <li><a href="/auto.htm">Autoridades</a></li>
                  <li><a href="/convenios.htm">Convenios firmados con otras instituciones</a></li>
                   <li><a href="/contrataciones/">Contrataciones</a></li>


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Oferta de servicios</a></li>
                    <li><a href="/contrataciones/">Guía de trámites</a></li>
                    <li><a href="http://www-biblio.inti.gov.ar/">Biblioteca</a></li>
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4>Donde estamos</h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm">INTI en el país</a></li>
                  <li><a href="/centros.htm">Centros</a></li>
                  <li><a href="/unidades_extension.htm">Unidades de Extensión</a></li>
                  <li><a href="/oficinas_tecnicas.htm">Oficinas de información</a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>


    <li class="mega-menu"><a data-toggle="mmmenu3">

      <span class="txt-white">Menu 1<br></span></a>
      <div class="mega dropdown-pane bottom sombra-1 sombra-1" id="mmmenu3" data-dropdown data-options="closeOnClick:true; hover: true; hoverPane: true; vOffset:11">


          <div class="expanded row">
              <div class="small-3 columns"> 
                <h4>dfsdfsdfsd fsdf sdf f</h4>
                <ul class="no-bullet">
                  <li><a href="/mision.htm">Misión, visión y valores</a></li>
                    <li><a href="/origen.htm">Origen y proyección del INTI</a></li>
                  <li><a href="/auto.htm">Autoridades</a></li>
                  <li><a href="/convenios.htm">Convenios firmados con otras instituciones</a></li>
                   <li><a href="/contrataciones/">Contrataciones</a></li>


                </ul>
              </div>
              <div class="small-3 columns"> 
                <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="/oferta/">Oferta de servicios</a></li>
                    <li><a href="/contrataciones/">Guía de trámites</a></li>
                    <li><a href="http://www-biblio.inti.gov.ar/">Biblioteca</a></li>
                </ul> 
              </div>
              <div class="small-3 columns end"> 
               <h4>Donde estamos</h4>
                <ul class="no-bullet">
                 <li><a href="/INTIpais.htm">INTI en el país</a></li>
                  <li><a href="/centros.htm">Centros</a></li>
                  <li><a href="/unidades_extension.htm">Unidades de Extensión</a></li>
                  <li><a href="/oficinas_tecnicas.htm">Oficinas de información</a></li>
                </ul> <!--   <h4>Biblioteca</h4>
                <ul class="no-bullet">

                 <li><a href="boletinbibliografico/index.php">Boletín bibliográfico</a></li>
                </ul>-->
              </div>

             <!--     <div class="small-3 columns"> 
              <h4>Servicios</h4>
                <ul class="no-bullet">
                    <li><a href="oferta/">Oferta de servicios</a></li>
                </ul>
              </div>-->
          </div>


      </div>
    </li>


</ul>









    </nav>
  </div>
</section>











<section class="hp-content-section padding-top-4 padding-bottom-4">

  <h3 class="row">Page Title Goes here</h3>
  <div class="row blog-block">
    <div class="medium-8 column">
      
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="button">READ MORE</a>
    </div>

    <div class="medium-4 column">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=550&h=250"></img>
    </div>
  </div>


  <div class="row blog-block">
    <div class="medium-4 column">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=550&h=250"></img>
    </div>


    <div class="medium-8 column">
      
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="button">READ MORE</a>
    </div>

    
  </div>


  <div class="row blog-block">
    <div class="medium-8 column">
      
      <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="button">READ MORE</a>
    </div>

    <div class="medium-4 column">
      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97250&w=550&h=250"></img>
    </div>
  </div>
</section>










<section class="hp-store-container hp-content-section padding-top-4 padding-bottom-4">

  <div class="row">


    <h3>Store</h3>





    <div class="owl-carousel-6">

      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>



      <div class="item store-item">
        <div class="store-image">
          <img src="http://lorempixel.com/800/601/" class=""></img>
        </div>
        <div class="item--wrapper">
          <span class="store-details">
            <span class="store-title">Reliance Jio</span>
            <span class="store-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <span class="store-rate">
              <span class="netRate">$2342</span>
            </span>
            
          </span>
        </div>   
      </div>




    </div>


    <div class="gotostoreButton">
      <a href="#" class="button">Go to Store</a>
    </div>

  </div>



</section>





<div id="destroy"></div>


{% endblock %}
